* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
body {
	overflow-x: hidden;
	background: #425fa9;
}
div {
	display: flex;
	justify-items: center;
	align-content: center;
	flex-flow: column;
}
.navbar {
	background: #5a86cf;
	width: 100%;
	height: 120px;
}
.navh1 {
	color: #dbe9ee;
	position: relative;
	top: 20px;
	left: 20px;
	font-size: 100px;
	font-weight: bold;
	text-decoration: none;
}
.navAbout {
	color: #dbe9ee;
	position: relative;
	bottom: 35px;
	left: 830px;
	font-size: 30px;
}
.aboutButton {
	width: 100px;
	height: 100px;
}
.timers {
	width: 95%;
	height: 100vh;
	margin: auto;
	display: flex;
	flex-flow: row;
}
.flowBox {
	border-radius: 20px;
	background: rgb(51, 141, 223);
	background: linear-gradient(
		0deg,
		rgba(51, 141, 223, 1) 0%,
		rgba(43, 144, 236, 1) 0%,
		rgba(255, 255, 255, 0.10717790534182425) 100%
	);
	width: 350px;
	height: 80vh;
	margin: auto;
	display: flex;
	flex-flow: column;

	position: relative;
	top: -50px;
	transition: all 0.5s ease;
}
.shortBreak {
	border-radius: 20px;
	background: rgb(51, 141, 223);
	background: linear-gradient(
		0deg,
		rgba(51, 141, 223, 1) 0%,
		rgba(43, 144, 236, 1) 0%,
		rgba(255, 255, 255, 0.10717790534182425) 100%
	);
	width: 350px;
	height: 80vh;
	margin: auto;
	transition: all 1s ease;
	position: relative;
	top: -50px;
	transition: all 2s ease;
}
.longBreak {
	background: rgb(51, 141, 223);
	background: linear-gradient(
		0deg,
		rgba(51, 141, 223, 1) 0%,
		rgba(43, 144, 236, 1) 0%,
		rgba(255, 255, 255, 0.10717790534182425) 100%
	);
	border-radius: 20px;
	width: 350px;
	height: 80vh;
	margin: auto;
	transition: all 2s ease;
	position: relative;
	top: -50px;
}

i {
	font-size: 10rem;
	color: #dbe9ee;
	margin: auto;
	transition: all 1s ease;
}
h2 {
	font-size: 2rem;
	color: #dbe9ee;
	margin: auto;
	text-align: center;
}
h4 {
	text-align: center;
	color: #dbe9ee;
	font-size: 1.5rem;
}
.pause {
	color: #402c2c;
	width: 60%;
	height: 50px;
	border-radius: 20px;
	background: #b54242;
	margin: auto;
	font-size: 2rem;
	cursor: pointer;
	transition: all 0.5s ease;
}
.start {
	color: #d4e2db;
	width: 60%;
	height: 50px;
	border-radius: 20px;
	background: #47bd80;
	margin: auto;
	font-size: 2rem;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	transition: all 0.5s ease;
}
.time {
	font-size: 2rem;
	color: #dbe9ee;
	margin: auto;
	text-align: center;
}
h3 {
	position: absolute;
	left: 415px;
	color: white;
	bottom: -90px;
	font-size: 1em;
}
.start:hover {
	border-color: white;
}
.pause:hover {
	border-color: rgb(57, 57, 57);
}
.faqQ1 {
	margin: 40px;
}
.faqQ1 {
	text-align: center;
	margin: auto;
	padding: 20px;
	color: white;
	font-size: 4rem;
}
.faqA1 {
	text-align: center;
	margin: auto;
	padding: 20px;
	color: white;
	font-size: 2rem;
	line-height: 60px;
}
